

.home {
  background: #ffe9f6;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  height: 832px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.answer {
  color: #000000;
  text-align: left;
  font-family: "Spline Sans Mono", Helvetica;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  right: 515px;
  top: 548px;
  width: 604px;
  height: 55px;
}
.answer-span {
  color: #000000;
  font-family: "Spline Sans Mono", Helvetica;
  font-size: 24px;
  font-weight: 400;
}
.answer-span2 {
  color: #000000;
  font-family: "Spline Sans Mono", Helvetica;
  font-size: 24px;
  font-weight: 400;
  text-decoration: underline;
}
.answer-span3 {
  color: #000000;
  font-family: "Spline Sans Mono", Helvetica;
  font-size: 24px;
  font-weight: 400;
}
.song-asl {
  color: #000000;
  text-align: left;
  font-family: "Spline Sans Mono", Helvetica;
  font-size: 128px;
  font-weight: 400;
  position: absolute;
  left: 161px;
  top: 165px;
  width: 724px;
  height: 94px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.logonote {
  height: 190px;
  left: 695px;
  object-fit: cover;
  position: absolute;
  top: 117px;
  width: 190px;
}
.description {
  color: #000000;
  text-align: left;
  font-family: "Spline Sans Mono", Helvetica;
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  right: 374px;
  top: calc(50% - 78px);
  width: 745px;
  height: 86px;
}
.description-span {
  color: #000000;
  font-family: "Spline Sans Mono", Helvetica;
  font-size: 36px;
  font-weight: 400;
}
.description-span2 {
  color: #000000;
  font-family: "Spline Sans Mono", Helvetica;
  font-size: 36px;
  font-weight: 400;
  text-decoration: underline;
}
.description-span3 {
  color: #000000;
  font-family: "Spline Sans Mono", Helvetica;
  font-size: 36px;
  font-weight: 400;
}
.question {
  color: #000000;
  font-family: "DM Sans", Helvetica;
  font-size: 32px;
  font-weight: 400;
  left: 160px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 492px;
  width: 230px;
}
.begin-button {
  background: #dbc6d1;
  border-radius: 8px;
  border-style: solid;
  border-color: #000000;
  border-width: 2px;
  padding: 12px 32px 12px 32px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 959px;
  top: 627px;
}
.begin-button:hover {
  background: #c29dac;
}
.begin {
  color: #000000;
  text-align: left;
  font-family: "DM Sans", Helvetica;
  font-size: 36px;
  font-weight: 400;
  position: relative;
}
.homepageasl {
  width: 211px;
  height: 431px;
  position: absolute;
  left: 939px;
  top: 172px;
  transform-origin: 0 0;
  object-fit: cover;
}